#mainImage {
    width: 300px;
    height: 200px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

#loadingText {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

#loadingBox {
    width: 300px;
    height: 20px;
    border: 1px solid #000;
    margin: 10px auto;
}

#progressBar {
    height: 100%;
    width: 0%;
    background-color: #FFD700;
}

