#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10%;
}

#image-gallery > div {
    border: 1px solid rgba(157, 136, 251, 0.8);
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: rgba(157, 136, 251, 0.8);
}

h3 {
    text-align: center;
    color: rgba(49, 48, 51, 0.8);
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(49, 48, 51, 0.8);
}

#bottom-div {
  width: 100%;
  margin-top: 60%;
  float: right;
  margin-bottom: 20px;
  text-align: right;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}